* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#task .container .task1 .button {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 50%;
  padding: 15px 17px;
}
#task .container .task1 .button .first {
  cursor: pointer;
  padding: 15px 17px;
  background-color: red;
  border: 1px red;
  color: #fff;
}
#task .container .task1 .button .second {
  cursor: pointer;
  padding: 15px 17px;
  background-color: rgb(75, 167, 228);
  border: 1px red;
  color: #fff;
}
#task .container .task1 .button .third {
  cursor: pointer;
  padding: 15px 17px;
  background-color: rgb(220, 224, 161);
  border: 1px rgb(220, 224, 161);
  color: #fff;
}
#task .container .task1 .button .fourth {
  cursor: pointer;
  padding: 15px 17px;
  background-color: rgb(12, 234, 49);
  border: 1px rgb(12, 234, 49);
  color: #fff;
}
#task .container .task1 .alerts {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: flex-end;
}
#task .container .task1 .alerts .fa-solid.fa-xmark {
  padding-top: 7px;
  cursor: pointer;
}
#task .container .task1 .alerts .cart {
  display: flex;
  justify-content: space-between;
  width: 350px;
  border: 16px solid rgb(232, 232, 232);
  background-color: rgb(232, 232, 232);
}
#task .container .task1 .alerts .cart .fa-solid.fa-exclamation {
  border-radius: 20px;
  padding: 10px 16px;
  background-color: red;
  color: white;
}
#task .container .task1 .alerts .cart1 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  border: 16px solid rgb(75, 167, 228);
  background-color: rgb(75, 167, 228);
}
#task .container .task1 .alerts .cart1 .fa-solid.fa-info {
  border-radius: 20px;
  padding: 10px 16px;
  background-color: rgb(19, 158, 244);
  color: white;
}
#task .container .task1 .alerts .cart2 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  border: 16px solid rgb(220, 224, 161);
  background-color: rgb(220, 224, 161);
}
#task .container .task1 .alerts .cart2 .fa-solid.fa-triangle-exclamation {
  font-size: 30px;
  padding-left: 5px;
  color: rgb(255, 251, 0);
}
#task .container .task1 .alerts .cart3 {
  display: flex;
  justify-content: space-between;
  width: 350px;
  border: 16px solid rgb(12, 234, 49);
  background-color: rgb(12, 234, 49);
}
#task .container .task1 .alerts .cart3 .fa-solid.fa-circle-check {
  font-size: 30px;
  padding-left: 5px;
}
#task .container .task2 {
  left: 40%;
  top: 18%;
  position: fixed;
  z-index: 1;
}
#task .container .task2 .logorreg {
  text-align: center;
  font-size: 25px;
  width: 355px;
}
#task .container .task2 .logorreg p {
  margin-top: 15px;
  color: rgb(60, 20, 6);
}
#task .container .task2 .logorreg button {
  font-size: 25px;
  margin-top: 15px;
  cursor: pointer;
  color: orangered;
  background-color: beige;
  border-radius: 25px;
  padding: 12px 12px;
}
#task .container .task2 .logorreg button:hover {
  color: #fff;
  background-color: #000;
  transition: 0.8s;
}
#task .container .task2 .forms1 {
  display: flex;
  align-items: center;
  flex-direction: column;
  left: 38%;
  top: 18%;
  position: fixed;
  z-index: 2;
  width: 400px;
  height: 400px;
  background-color: rgb(113, 173, 247);
  padding: 15px 15px;
}
#task .container .task2 .forms1 .x5 {
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 15px;
  top: 5px;
}
#task .container .task2 .forms1 label {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  padding: 5px;
}
#task .container .task2 .forms1 label input {
  padding: 8px;
}
#task .container .task2 .forms2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-direction: column;
  left: 38%;
  top: 18%;
  position: fixed;
  z-index: 2;
  padding-top: 55px;
  width: 400px;
  height: 400px;
  background-color: rgb(113, 173, 247);
}
#task .container .task2 .forms2 .x2 {
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 15px;
  top: 5px;
}
#task .container .task2 .forms2 label {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}
#task .container .task2 .forms2 label input {
  padding: 20px;
}
#task .container .task3 {
  display: flex;
  justify-content: center;
}
#task .container .task3 button {
  background-color: aqua;
  border-color: aqua;
  display: flex;
  cursor: pointer;
  font-size: 30px;
  position: absolute;
  top: 55%;
  left: 42.4%;
}
#task .container .task3 .conta .term {
  width: 500px;
  height: 400px;
  position: absolute;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  top: 18%;
  right: 33%;
  background-color: rgb(226, 122, 52);
}
#task .container .task3 .conta .x2 {
  cursor: pointer;
  position: absolute;
  right: 2px;
}
#task .container .task3 .conta .x2 p {
  padding-top: 15px;
}
#task .container .hidden {
  display: none !important;
}
#task .container .blure {
  filter: blur(3px);
}
#task .container .blure2 {
  filter: blur(-3px);
}/*# sourceMappingURL=main.css.map */